.table-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    justify-content: center;
    align-items: center;
    border: 1px solid;
    background-color: burlywood;
}

.table-row {
    border-bottom: 1px solid;
}

.table-item {
    align-items: center;
    text-align: center;
    width: 200px;
}