.navbar {
    background-color: grey;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list-item {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}